junk-txt.txt

// Contracts
/Blockchain-Eth-Payment/build/*
/Blockchain-Eth-Payment/node_modules/*
/Blockchain-Eth-Payment/.env
/Blockchain-Eth-Payment/package-lock.json

// API
/Blockchain-API/node_modules/*
/Blockchain-API/package-lock.json